@media screen and (max-width: 1000px) {
    .navbar {
        margin: 25px 15px;
    }

    .title {
        font-size: 18px;
        margin-right: auto;
        
    }
    .navbar {
        
        display: flex;
        flex-direction: row;
        
               
    }

    .tbh {
        display: block;
        margin-left: auto;
    }

    .title-2 {
        font-size: 2rem;
    }

    .text-2 {
        font-size: 18px;
    }
    
    .list-a {
        display: none;
    }

    .section-1 {
        margin: 150px auto;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .img-section {
        display: none;
    }

    .content-section {
        
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 50%;
        top: 50%;
        
    }

    .exe {
        display: none;
    }

    .img-1 {
        border-radius: 10px;
    }

    .sec_1 {
        width: 100%;
        margin: 10px auto 0 auto;
        grid-template-columns: 100%;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 10px;
        border: none;
        box-shadow: none;
        text-align: center;
        
    }

    .txt2 {
        font-size: 1.5rem;
        font-weight: 400;
        color: black;
    }

    .section-2 {
        margin: 0 auto;
        width: 100%;
    }

    .part-2 {
        width: 80%;
    }

    .btn-1 {
        width: 40%;
    }
    
    .btn-2 {
        width: 40%;
    }

    .content-links {
        
        text-align: center;
        width: 100%;
        display: flex;
        align-self: center;
        justify-items: center;
        align-items: center;
        margin: 0;
    }

    .projects {
        margin: 20px auto;
        width: 100%;
    }

    .image-one {
        grid-template-columns: 100%;
        
    }

    .img-projects {
        width: 250px;
        height: 250px;
    }

    .btn-3 {
        width: 250px;
    }

    .tbh-2 {
        display: none;
    }

    /* footer & contact-info */

    .contact-info {
        width: 100%;
        flex-direction: column;
        height: auto;
        gap: 1px;
        margin: 40px auto 5px auto;
        padding: 5px;
    }

    .footer {
        margin: -40px auto;
    }

    .section-4 {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .tbh-list, .open {
        display: none;
    }

    .tbh-list {
        text-align: center;
    }

    .close-icon {
        display: none;
        width: 28px;
        height: 28px;
    }
}
